* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Monotype Corsiva';
  src: local('Monotype Corsiva'), url(./assets/fonts/Monotype.ttf) format('truetype');
}

html {
  font-size: 46px;
}

ul>li {
  list-style-type: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}


