.btn {
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 1%;
  color: #000;
  font-family: "Monotype Corsiva";
  font-size: 36px;
  line-height: 40px;
  max-width: 586px;
  cursor: pointer;
  text-align: center;
  outline: none;
  width: 100%;

  &:hover {
    background: #ffcdfa;
  }
  &:active {
    background: #ff8ff4;
  }

  &--active {
    background-color: #8b008b;
    color: #000000;
    &:hover {
      background: #c600c6;
    }
    &:active {
      background: #e200e2;
    }
  }
}

@media screen and (max-width: 1200px){
	.btn{
		font-size: 32px;
	}
}

@media (max-width: 768px) {
  .btn {
    position: relative;
    background: none;
    color: #fff;
    border: none;
    box-shadow: none;
    width: auto;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      background-color: #fff;
      transform: scaleX(0);
      transition: transform 0.25s ease;
    }

    &--active {
      &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 1px;
        background-color: #fff;
        transform: scaleX(0);
        transition: transform 0.25s ease;
      }
      background: none;
      &:hover {
        background: none;
        &::before {
          background: none;
          transform: scaleX(1);
          background-color: #fff;
        }
      }
    }
  }
}
