.footer {
  padding: 31px 0 60px;
  background-color: #8b008b;
  display: flex;
  justify-content: center;
  &__nav {
    margin-right: 16%;
  }

  &__navList {
    display: flex;
    flex-direction: column;
  }

  &__navItem {
    font-size: 1rem;
    color: #fff;

    &--active {
      text-decoration: underline;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__copyright {
    color: #000;
    font-size: 48px;
  }

  &__logoContainer {
    text-align: center;
  }
	&__logo{
		width: 178px;
		height: 170px;
		object-fit: cover;
	}
}

@media screen and (max-width: 998px){
	.footer__copyright{
		font-size: 42px;
	}
	.footer__logo{
		width: 105px;
		height: 100px;
	}
	.footer__copyright{
		padding: 0 35px;
	}
	.footer{
		padding: 15px 20px 29px 20px;
	}
}

@media screen and (max-width: 480px){
	.footer__copyright{
		font-size: 30px;
		padding: 0 25px;
	}
	.footer__logo{
		width: 84px;
		height: 80px;
	}
	.footer{
		padding: 15px 5px 29px 5px;
	}
}
