.works {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 0;

  &__popup {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: rgba($color: #000000, $alpha: 0.7);
    z-index: 100;
  }

  &__btns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    & button {
      width: 24%;
      margin-bottom: 1%;
    }
  }

  &__content {
    display: grid;
    justify-content: flex-start;
    grid-template-columns: 33%;
    flex-wrap: wrap;
    flex-basis: 33%;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 0.5%;
  }

  &__item {
    margin-bottom: 2%;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}
