.big-picure {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  & img {
    width: 950px;
    height: 950px;
  }
}

.embl {
  position: relative;
  max-width: 560px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  &--width {
    max-width: 1000px;
  }
  &--svg {
    position: absolute;
    left: 650px;
    top: -50px;
    cursor: pointer;
    margin-left: auto;
    background: inherit;
  }
}

.embl__viewport {
  overflow: hidden;
  width: 100%;
}

.embl__viewport.is-draggable {
  cursor: move;
  cursor: grab;
  border-radius: 10px;
}

.embl__viewport.is-dragging {
  cursor: grabbing;
}

.embl__container {
  display: flex;
  user-select: none;
  width: auto;
  width: 680px;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.embl__slide {
  position: relative;
  min-width: 100%;
}

.embl__slide__inner {
  position: relative;
  overflow: hidden;
  width: auto;

  &--height {
    height: 658px;
  }
}

.embl__wrapper {
  background: none;
  width: 658px;
}

.embl__slide__img {
  position: absolute;
  display: block;
  width: 658px;
  height: 658px;
}

.embl__button {
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  touch-action: manipulation;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  fill: #1bcacd;
  padding: 0;
}

.embl__button:disabled {
  cursor: default;
  opacity: 0.3;
}

.embl__button__svg {
  width: 100%;
  height: 100%;
}

.embl__button--prev {
  left: 27px;
}

.embl__button--next {
  right: 27px;
}

.embl--thumb {
  padding-top: 0;
  margin-top: 1%;
  border-radius: 15px;
}

.embl__container--thumb {
  cursor: default;
  margin-left: -8px;
}

.embl__slide--thumb {
  padding-left: 8px;
  min-width: 35%;
}

.embl__slide__inner--thumb {
  touch-action: manipulation;
  cursor: pointer;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  height: 200px;
  width: 100%;
  background-color: transparent;
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 10px;
}

.embl__slide__thumbnail {
  position: absolute;
  opacity: 0.5;
  top: 0;
  bottom: 0;
  left: -10000%;
  right: -10000%;
  margin: auto;
  min-width: 1000%;
  min-height: 1000%;
  max-width: none;
  transform: scale(0.1);
  transition: opacity 0.2s;
  border-radius: 10px;
}

.embl__slide--thumb.is-selected .embl__slide__thumbnail {
  opacity: 1;
}
