.header {
  position: relative;
  background-color: #8b008b;
  font-size: 36px;
  height: 190px;
  &__logo-container {
    width: 100% !important;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin: 0 auto;
    color: #000;
    height: 150px;
    padding-right: 104px;
    & img {
      height: 162px;
      position: absolute;
      left: 100px;
      top: 14px;
    }
    & div {
      display: flex;
      align-items: center;
      & span {
        color: #000;
      }
      & a {
        &:nth-child(even) {
          margin: 0 15px;
        }
      }
    }
    & > a {
      padding-left: 20px;
    }
  }
  &__basket {
    margin-left: 1%;
    cursor: pointer;
  }
  &__nav-list {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 22px;
  }
  &__nav-item {
    list-style-type: none;
    color: #000;
    font-family: "Monotype Corsiva";
    cursor: pointer;
    text-decoration: none;
    margin-right: 80px;
    // ::before {
    //   content: "next";
    //   width: 100%;
    //   height: 2px;
    //   color: red;
    // }
    &:hover {
      text-decoration: underline;
    }

    &--admin {
      position: absolute;
      left: 0;
    }

    &--active {
      text-decoration: underline;
    }
  }
}

@media (max-width: 1024px) {
  .header {
    height: 190px;
    &__basket {
      margin-right: 40px;
    }
    &__basket-span {
      display: none;
    }
    &__logo-container {
      position: relative;
      height: 180px;
      & > img {
        margin-top: 20px;
        height: 152px;
      }
    }
    &__contact {
      display: none;
      & a {
        display: none;
      }
    }

    &__img {
      position: absolute;
      display: flex;
    }
    &__nav-list {
      display: none;
    }
  }
}
@media (max-width: 768px) {
  .header {
    &__logo-container {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      & img {
        position: relative;
      }
    }
    &__contact {
      position: absolute;
    }

    &__img {
      position: absolute;
      display: flex;
    }
    &__nav-list {
      position: absolute;
      display: none;
    }

    &__nav-item {
      &--admin {
        display: none;
      }
    }
  }
}

@media (max-width: 425px) {
  .header {
    position: relative;
    z-index: 10;
    &__logo-container {
      display: flex;
      justify-content: center;
      & img {
        left: 50px;
        margin-top: 0px;
      }
      & a {
        display: none;
      }
    }
  }
}

@media (max-width: 320px) {
  .header {
    &__logo-container {
    }
  }
}
