.header {
  background-color: #000;

  &__logo-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    & img {
      position: absolute;
      left: 0;
      top: -50px;
    }
    & div {
      display: flex;
      align-items: flex-end;
      & span {
        color: #ffffff;
      }
      & svg {
        &:nth-child(even) {
          margin: 0 15px;
        }
        // margin-left: 15px;
      }
    }
  }
  &__basket {
    margin-left: 1%;
    cursor: pointer;
  }
  &__nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__nav-item {
    list-style-type: none;
    color: #fff;
    font-family: "Monotype Corsiva";
    cursor: pointer;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &--active {
      text-decoration: underline;
    }
  }

  &__admin-panel {
    color: #fff;
    cursor: pointer;
  }
}
