.eddit-categories {
    height: 60vh;
    margin-top: 100px;

    &__select {
        display: flex;
        height: 36px;
        align-items: center;
        margin-bottom: 10px;
        &--span {
            display: flex;
            width: 250px;

            font-family: Monotype Corsiva;
            font-weight: normal;
            font-size: 48px;
            line-height: 54px;

            color: #000000;
        }
        &--svg {
            display: flex;
            & svg {
                height: 32px;
                width: 82px;
            }
        }
    }
    &__input {
        display: flex;
        height: 36px;
        align-items: center;
        margin-bottom: 10px;

        & input {
            width: 250px;
            height: 40px;
            background: #ffffff;
            border: 1px solid #000000;
            box-sizing: border-box;
            box-shadow: inset 4px 4px 5px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            margin-right: 26px;
            font-family: Monotype Corsiva;
            font-style: italic;
            font-weight: normal;
            font-size: 34px;
        }
    }
}
