.admin-pictures-list {
  display: grid;
  grid-template-columns: auto;

  &__head {
    display: grid;
    grid-template-columns: 335px 128px 316px 160px 110px 100px 120px;
    &--small {
      font-size: 14px;
      line-height: 16px;
    }
  }
  &__data {
    display: grid;
    grid-template-columns: 90px 245px 124px 325px 155px 105px 100px 250px;
    margin-bottom: 15px;
    border: solid #000 1px;
    border-radius: 10px;
    padding: 4px;
    font-size: 24px;
    line-height: 27px;
    & div {
      display: flex;
      align-items: center;
    }
  }

  &__itemText {
    font-family: "Monotype Corsiva";
    font-weight: 400;
    font-size: 0.7rem;
    color: #000000;
  }
}
